*{ /* Removing default styles from all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-black: #000;
    --main-white: #fff;
    --main-font-family: 'DM Sans';
}

html{
    font-size: 62.5%;
    font-family: var(--main-font-family);
}

/* Upper Banner */
.upper-promotional-banner{
    background-color: var(--main-black);
    color: var(--main-white);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

/* Header */

.header-menu { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: var(--main-white);
}

.header-menu--section1 {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem 0rem 1rem;
    display: block;
}
.header-menu--section2 {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 0rem 0rem;
}

.header-menu--section3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 0rem 0rem;
}

.header-menu--section1--menu{
    border: none;
    width: auto;
    padding: 0%;
    background-color: var(--main-white);
    position: relative;
}

.header-menu--section1--menu--dropdown {
    position: absolute;
    background-color: #fff;
}

.header-menu--section1--menu--dropdown--ul li {
    list-style: none;
    font-size: 5rem;

}

.header-menu--section1--menu--dropdown--ul li a {
    font-style: normal;
    text-decoration: none;
}

.header-menu--section1--menu img {
    width: 5rem;
    height: 5rem;
}

.header-menu--section2--didiou {
    position: relative;
    left: 5rem;
}

.header-menu--section3--contact img{
    width: 5rem;
    height: 5rem;
    padding: 0rem .5rem;
}

.header-menu--section3--search img {
    width: 5rem;
    height: 5rem;
    padding: 0rem .5rem;
}

.header-menu--section3--market img {
    width: 5rem;
    height: 5rem;
    padding: 0rem .5rem;
}

.header-menu--section3--contact {
    order: 2;
}

.header-menu--section3--search {
    order: 1;
}

.header-menu--section3--market {
    order: 3;
}
/* Landing section */
.landing-img {
    height: 90vh;
    width: 80%;
    object-fit: contain;
}